<mat-card class="example-card" id="panelb">
    <mat-card-header>
      <mat-card-title>About us</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.ctvnews.ca/polopoly_fs/1.4980761.1591917810!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg" alt="store">
    <mat-card-content>
      <h3>
        Our store is the most innovative store in our field.<br>
        Here you will be able to shop for groceries online,<br> 
        search for products, and buy them with just one click!
      </h3>
    </mat-card-content>
  </mat-card>
